---
import Pill from "../components/Pill";
import ProjectList from "../components/projects/ProjectList";
import Socials from "../components/Socials.astro";
import Layout from "../layouts/Layout.astro";
import RandomProjects from "../components/projects/RandomProjects";
import StyledIcon from "../components/StyledIcon.astro";
---

<Layout title="Home">
  <main class="flex flex-col items-center mt-8">
    <section id="Home" class="flex flex-col md:w-2/3">
      <div
        class="w-full flex flex-col md:flex-row gap-4 items-center md:items-start"
      >
        <div class="h-full">
          <h1 class="text-6xl font-black text-center md:text-start">
            Hi, I'm ErikoXDev!
          </h1>
          <div
            class="flex flex-wrap mt-4 gap-2 justify-center md:justify-start"
          >
            <Pill color="amber">Fullstack Developer</Pill>
            <Pill color="pink">Designer</Pill>
            <Pill color="fuchsia">Pixel Artist</Pill>
          </div>
          <p class="text-xl md:w-3/4 xl:w-2/3 mt-8 text-center md:text-start">
            Welcome to the third iteration of my portfolio! Here I showcase all
            my projects that I have coded over the years!
          </p>
        </div>
        <div class="flex-grow flex justify-center">
          <img
            src="eriko_4k.png"
            class="bg-light/5 rounded-full select-none"
            width="128"
            alt="ErikoXDev Profile Picture"
          />
        </div>
      </div>
      <div class="mt-8 flex md:flex-col justify-center md:justify-start">
        <h3 class="text-2xl font-bold mb-2 hidden md:block">Socials</h3>
        <Socials />
      </div>
    </section>
    <section id="get-started" class="mt-12 flex flex-col md:w-2/3 mb-16">
      <h3 class="text-2xl font-bold">Random Projects</h3>
      <p class="text-light/75">
        Click on the cards to view the projects! Find more projects on the <a
          href="/projects"
          class="hover:text-light text-light/95 underline">project page</a
        >.
      </p>
      <RandomProjects count={4} />
    </section>
  </main>
</Layout>
