---
import { Icon } from "astro-icon";
import { colors } from "../util";

interface Props {
  data: {
    title: string;
    description: string;
    link: string;
    color?: string;
    icon?: string;
  };
}

const { data } = Astro.props;
---

<a href={data.link} class="block" target="_blank">
  <article
    class="p-4 rounded-lg bg-light/2 hover:bg-light/5 border border-light/10 transition-colors h-full"
  >
    <div class="flex justify-between gap-2">
      <div
        class={"flex gap-2 items-center mb-2 " +
          (data.color
            ? "text-" + colors[data.color as keyof typeof colors]
            : "text-light")}
        }
      >
        {data.icon && <Icon name={data.icon} class="w-6 h-6" />}
        <h2 class={"text-xl font-black "}>
          {data.title}
        </h2>
      </div>
    </div>
    <p>{data.description}</p>
  </article>
</a>
