---
import StyledIcon from "./StyledIcon.astro";

import { socials } from "../util";

interface Props {
  size?: number;
}

const { size } = Astro.props;
---

<div class="flex gap-2">
  {
    socials.map((v) => (
      <a href={v.link} rel="noreferrer" target="_blank">
        <StyledIcon name={v.icon} size={size} />
      </a>
    ))
  }
</div>
