---
import { Icon } from "astro-icon";
import ReplitIcon from "./icons/ReplitIcon.astro";

const socials = [
  {
    link: "https://github.com/ErikoXDev",
    icon: "fe:github",
  },
  {
    link: "https://twitter.com/ErikoXDev",
    icon: "fe:twitter",
  },
  {
    link: "https://discordapp.com/users/610788461028573194",
    icon: "fa-brands:discord",
  },
  {
    link: "mailto:contact@eriko.dev",
    icon: "fe:mail",
  },
];
---

<div class="flex gap-2">
  {
    socials.map((v) => (
      <a
        href={v.link}
        class="p-2 bg-light/5 rounded-full hover:bg-light/10 transition-colors select-none"
        rel="noreferrer"
        target="_blank"
      >
        <Icon name={v.icon} class="w-8 h-8" />
      </a>
    ))
  }
  <a
    href="https://replit.com/@ErikoXDev"
    class="p-2 bg-light/5 rounded-full hover:bg-light/10 transition-colors select-none"
    rel="noreferrer"
    target="_blank"
  >
    <ReplitIcon />
  </a>
</div>
