---
import Navbar from "../components/Navbar.astro";

import { SEO } from "astro-seo";

export interface Props {
  title: string;
  image?: string;
}

const { title, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={title + " | ErikoXDev"}
      description="Hi, I'm ErikoXDev! Here I showcase all my projects that I have designed and programmed over the years!"
      openGraph={{
        basic: {
          title: "ErikoXDev's Portfolio",
          type: "website",
          image: image || "https://eriko.dev/banner.png",
          url: "https://eriko.dev",
        },
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", type: "image/png", href: "/favicon.png" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:card",
            content: "summary_large_image",
          },
          {
            name: "twitter:image",
            content: "https://eriko.dev/banner.png",
          },
          { name: "twitter:title", content: "ErikoXDev" },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href="/sitemap-index.xml"
    />
    <title>{title}</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,300,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="min-h-screen font-primary bg-dark text-light font-semibold px-4 pb-8"
    id="Home"
  >
    <Navbar />
    <slot />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PDX3QRQKV9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-PDX3QRQKV9");
    </script>
  </body>
</html>
