---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, description } = post.data;

const { Content } = await post.render();
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <p>{description}</p>
  </main>
</Layout>
